{% extends 'base.html' %} 

{% load static %}

{% block message %}

{{ message }}</br>

{% endblock %}


{% block content %}
</br></br></br>
 
        
    <!-- contact -->
    <div class="jumbotron jumbotron-fluid" id="contact" style="background-image: url(../../static/img/contact-bk.jpg);">
        <div class="container my-5">
            <div class="row justify-content-between">
                <div class="col-md-6 text-white">
                    <h2 class="font-weight-bold">Contact Us</h2>
                    <ul class="list-unstyled">
                        <li>Email : ozzy_fx@com</li>
                        <li>Phone : 080_xxx_yyy_zzz</li>
                        <li>Address : Adress(Optional)</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form method="POST" action="{% url 'contact' %}">
                        {% csrf_token %}
                    	
	                    <div class="form-group">
	                        <label for="message">MESSAGE</label>
	                        <textarea class="form-control" name="message" id="message" rows="3"></textarea>
	                    </div></br>
                        <center><button type="submit" class="btn btn-outline-secondary">Send</button></center>
                    </form>
                </div>
            </div>
        </div>
    </div></br></br>

	<!-- copyright -->
	<div class="jumbotron jumbotron-fluid" id="copyright">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 text-white align-self-center text-center text-md-left my-2">
                   Ozzy Fx Academy
                </div>
                <div class="col-md-6 align-self-center text-center text-md-right my-2" id="social-media">
                    <a href="#" class="d-inline-block text-center ml-2">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                        <i class="fa fa-telegram" aria-hidden="true"></i>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}